$medium-screen: 992px !default;
$small-screen: 321px !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$color-link:#999;
$color-link-active:#FFF;
$color-link-content:#091D99;
html {
  height: 100%;
}
body {
  line-height: 1;
  color:$color-link-active;
  background-color: #000;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  min-height: calc(100% - 2em);
  font-size:1em;
}
h1{
  font-weight:bold;
  padding:2em 2em 2em 1em;
  text-align: left;
}
p{
  text-align:left;
  padding:0 1em 1em 1em;
}
a, a:active, a:hover, a:visited, a:link{
  text-decoration: underline;  
  color:$color-link-active;
}
ol, ul {
  padding:0 0 0 2em;
  li{
    text-align: left;
  }
}

div.container{
  position: relative; 
  padding:1em;
  div.gauche{
    width:25%;
    float:left;
    @media #{$medium-and-down} {
      
    }
    &.hidden{
      display:none;
    }      
    ul{
      list-style-type: none;
      margin:0;
      padding:0;      
      li{
        display: block;
        float:left;
        width:100%;
        text-align: left;      
        a{
          color:$color-link;
          &.active{
            color:$color-link-active;
          }
        }
      }
    }
  }
  div.main{
    width:75%;
    float:left;
    height:auto;
    position:relative;   
    div.login{ 
      &.hidden{
        display:none;
      } 
      ul{
        list-style-type:none;
        margin:0;
        padding:0;
        li{
          display:inline-block;
          float:none;
          width:100%;
          padding: 0 0 0.6em 0;
          label{
            display:block;
            width:4em;
          }
        }
      }
    }
    div.deconnect{ 
      &.hidden{
        display:none;
      } 
    }
  }
}
